body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1050px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:340px;
  top:170px;
  width:710px;
  height:350px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:350px;
}
#u1 {
  position:absolute;
  left:2px;
  top:167px;
  width:706px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:647px;
  top:254px;
  width:131px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:581px;
  top:310px;
  width:40px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:581px;
  top:344px;
  width:40px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:581px;
  top:384px;
  width:53px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:641px;
  top:304px;
  width:180px;
  height:28px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:28px;
}
#u12 {
  position:absolute;
  left:2px;
  top:6px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:654px;
  top:310px;
  width:64px;
  height:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:642px;
  top:338px;
  width:180px;
  height:28px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:28px;
}
#u17 {
  position:absolute;
  left:2px;
  top:6px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:655px;
  top:344px;
  width:64px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:754px;
  top:380px;
  width:68px;
  height:24px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:24px;
}
#u21 {
  position:absolute;
  left:2px;
  top:4px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:644px;
  top:435px;
  width:100px;
  height:25px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u22_ann {
  position:absolute;
  left:737px;
  top:431px;
  width:1px;
  height:1px;
}
#u23 {
  position:absolute;
  left:754px;
  top:440px;
  width:66px;
  height:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u23_ann {
  position:absolute;
  left:813px;
  top:436px;
  width:1px;
  height:1px;
}
#u25 {
  position:absolute;
  left:644px;
  top:380px;
  width:100px;
  height:25px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u26 {
  position:absolute;
  left:949px;
  top:171px;
  width:100px;
  height:25px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:center;
}
#u27 {
  position:absolute;
  left:400px;
  top:440px;
  width:100px;
  height:25px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Cursiva', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:center;
}
#u27_ann {
  position:absolute;
  left:493px;
  top:436px;
  width:1px;
  height:1px;
}
#u28 {
  position:absolute;
  left:400px;
  top:475px;
  width:100px;
  height:25px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Cursiva', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:center;
}
#u28_ann {
  position:absolute;
  left:493px;
  top:471px;
  width:1px;
  height:1px;
}
