body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:492px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:270px;
  top:284px;
  width:222px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#990000;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:16px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  white-space:nowrap;
}
