body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:318px;
  top:208px;
  width:200px;
  height:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:328px;
  top:218px;
  width:200px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:6px;
  top:92px;
  width:794px;
  height:188px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:188px;
}
#u5 {
  position:absolute;
  left:2px;
  top:86px;
  width:790px;
  visibility:hidden;
  word-wrap:break-word;
}
