body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1250px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:220px;
  top:90px;
  width:1030px;
  height:760px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1030px;
  height:760px;
}
#u1 {
  position:absolute;
  left:2px;
  top:372px;
  width:1026px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:640px;
  top:154px;
  width:131px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:656px;
  top:785px;
  width:100px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u4_ann {
  position:absolute;
  left:749px;
  top:781px;
  width:1px;
  height:1px;
}
#u5 {
  position:absolute;
  left:666px;
  top:195px;
  width:474px;
  height:25px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6 {
  position:absolute;
  left:599px;
  top:200px;
  width:66px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:666px;
  top:240px;
  width:474px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9 {
  position:absolute;
  left:587px;
  top:244px;
  width:79px;
  height:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:666px;
  top:282px;
  width:474px;
  height:25px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12 {
  position:absolute;
  left:574px;
  top:286px;
  width:92px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:666px;
  top:365px;
  width:474px;
  height:25px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u15 {
  position:absolute;
  left:574px;
  top:369px;
  width:92px;
  height:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:666px;
  top:404px;
  width:474px;
  height:25px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18 {
  position:absolute;
  left:626px;
  top:408px;
  width:40px;
  height:13px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:587px;
  top:200px;
  width:9px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:24px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:574px;
  top:244px;
  width:9px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:24px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:563px;
  top:369px;
  width:9px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:24px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:617px;
  top:408px;
  width:9px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:24px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:666px;
  top:442px;
  width:474px;
  height:25px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u29 {
  position:absolute;
  left:600px;
  top:445px;
  width:66px;
  height:13px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:13px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:591px;
  top:445px;
  width:9px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:24px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:666px;
  top:479px;
  width:474px;
  height:25px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u34 {
  position:absolute;
  left:522px;
  top:483px;
  width:144px;
  height:13px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:13px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:513px;
  top:483px;
  width:9px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:24px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:548px;
  top:650px;
  width:118px;
  height:13px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:13px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:539px;
  top:649px;
  width:9px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:24px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:666px;
  top:650px;
  width:54px;
  height:47px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:47px;
}
#u43 {
  position:absolute;
  left:2px;
  top:16px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:730px;
  top:650px;
  width:130px;
  height:107px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:107px;
}
#u45 {
  position:absolute;
  left:2px;
  top:46px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:565px;
  top:285px;
  width:9px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:24px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:666px;
  top:324px;
  width:474px;
  height:25px;
}
#u48_input {
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FF0000;
  text-align:left;
}
#u49 {
  position:absolute;
  left:574px;
  top:328px;
  width:79px;
  height:16px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:563px;
  top:328px;
  width:9px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:24px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:666px;
  top:512px;
  width:474px;
  height:25px;
}
#u53_input {
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u54 {
  position:absolute;
  left:612px;
  top:516px;
  width:53px;
  height:13px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:602px;
  top:514px;
  width:9px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:24px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:600px;
  top:553px;
  width:66px;
  height:13px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:13px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:590px;
  top:551px;
  width:9px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:24px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:666px;
  top:552px;
  width:125px;
  height:22px;
}
#u62_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u62_input:disabled {
  color:grayText;
}
#u63 {
  position:absolute;
  left:794px;
  top:552px;
  width:140px;
  height:22px;
}
#u63_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u63_input:disabled {
  color:grayText;
}
#u64 {
  position:absolute;
  left:936px;
  top:552px;
  width:140px;
  height:22px;
}
#u64_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u64_input:disabled {
  color:grayText;
}
#u65 {
  position:absolute;
  left:600px;
  top:581px;
  width:66px;
  height:13px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:13px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:590px;
  top:579px;
  width:9px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:24px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:666px;
  top:576px;
  width:474px;
  height:25px;
}
#u69_input {
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
