body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1374px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1374px;
  height:52px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1374px;
  height:52px;
}
#u1 {
  position:absolute;
  left:2px;
  top:18px;
  width:1370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:106px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:120px;
  top:17px;
  width:195px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:1324px;
  top:2px;
  width:50px;
  height:50px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u7 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:1274px;
  top:52px;
  width:100px;
  height:60px;
}
#u8_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:65px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:578px;
  top:240px;
  width:118px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:553px;
  top:350px;
  width:167px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:553px;
  top:384px;
  width:116px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:690px;
  top:380px;
  width:100px;
  height:25px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u21 {
  position:absolute;
  left:553px;
  top:314px;
  width:235px;
  height:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
