body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1374px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1374px;
  height:52px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1374px;
  height:52px;
}
#u2 {
  position:absolute;
  left:2px;
  top:18px;
  width:1370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u4 {
  position:absolute;
  left:2px;
  top:17px;
  width:106px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:120px;
  top:17px;
  width:195px;
  height:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:1324px;
  top:2px;
  width:50px;
  height:50px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u8 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:50px;
  width:170px;
  height:670px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:670px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u11 {
  position:absolute;
  left:1274px;
  top:52px;
  width:100px;
  height:60px;
}
#u11_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:65px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:9px;
  top:60px;
  width:131px;
  height:185px;
}
#u17_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u19 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u19_img.selected {
}
#u19.selected {
}
#u20 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u22 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u18_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u24 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u24_img.mouseOver {
}
#u24.mouseOver {
}
#u25 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:20px;
  top:40px;
  width:93px;
  height:20px;
}
#u27 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u27_img.mouseOver {
}
#u27.mouseOver {
}
#u28 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:0px;
  top:60px;
  width:80px;
  height:20px;
}
#u30 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u30_img.selected {
}
#u30.selected {
}
#u31 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u33 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u29_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u35 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u36 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:0px;
  top:100px;
  width:80px;
  height:20px;
}
#u38 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u38_img.selected {
}
#u38.selected {
}
#u39 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u41 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u37_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u43 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u44 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:0px;
  top:140px;
  width:80px;
  height:20px;
}
#u46 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u46_img.selected {
}
#u46.selected {
}
#u47 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u49 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u45_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50 {
  position:absolute;
  left:20px;
  top:20px;
  width:106px;
  height:20px;
}
#u51 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
}
#u52 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:602px;
  top:324px;
  width:118px;
  height:16px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
